#topbar-container{
  justify-content: center;
  width: 100vw;
  display: flex;
  align-items: center;
  column-gap: 5vw;
  background-color: #1E90FF;
}

#inicio-sesion, #user-info{
padding-top: 1rem;
  color: white;
  width: 120px;
  text-align: center;
  box-sizing: border-box; 
  overflow: hidden;
  text-overflow: ellipsis;
}
a :hover{
  cursor: pointer;
}

