#form-container{
    box-sizing: border-box;
    justify-items: center;
}
#register-form{
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  background-color: #1E90FF;
  border-radius: .5rem;
  margin: 1rem;
}
