#products{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: white;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
}
.product{
  width: 250px;
  max-width: 250px;
  box-shadow: 0 0 5px #cdcdcd;
  border-radius: 20px;
  padding: 10px;
  justify-items: center;
  text-align: center;
}
.product button{
  border-radius:.2rem;
  border-style: solid;
  border-width: .13rem;
  border-color: #1E90FF;
  color: white;
  background-color: #1E90FF;
}
.product button:hover{
  cursor: pointer;
}
.product-image{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-name{
  font-weight: 600;
}
.product-price{
  font-weight: 400;
  font-size: 1.4rem;
}