@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
#logo{
  background-image: url('../public/img/Level-Up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.8vw;
  height: 10vh;
  
}
#logo:hover{
  cursor: pointer;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0;
}
#topbar-container{
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 5vw;
  background: linear-gradient(45deg, #1E90FF, #1E90FF)
}
#search-bar{
  display: flex;
  width: 50vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
#search-bar > input{
  width: 80%;
  height: 4vh;
}
#search-bar > button{
  height: 4.4vh;
  width: 2.5vw;
  background-color: #ffffff;
  border-color: white;
  border-style: solid;
}
#cart-btn{
  height: 4.5vh;
  width: 3.5vw;
  background-color: #ffffff;
  border-color: white;
  border-style: solid;
  border-radius: .5rem;
}
#cart-btn :hover{
  cursor: pointer;
}
#search-bar > button :hover{
  cursor: pointer;
}
#inicio-sesion{
  padding-top: 1rem;
  color: #000000;
}
a :hover{
  cursor: pointer;
  
}
#login-modal{
  position: fixed;
  display: flex;
  height: 25vh;
  width: 15vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  row-gap: .7rem;
  border-radius: .5rem;
  top: 5.99rem;
  right: 3.3%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#login-modal > button{
 background-color:#1E90FF;
 border-color: #1E90FF;
 color: white;
 border-radius: .2rem;
 border-style: none;
 width: 12.5rem;
 height: 1.5rem;
}
#login-modal > input{
  height: 1.5rem;
  width: 12rem;
  border-radius: .3rem;
  border-color: #c2c2c2;
  border-style: solid;
  border-width: .13rem;
}

#products{
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.product{
  width: 250px;
  max-width: 250px;
  box-shadow: 0 0 5px #cdcdcd;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(45deg, #39FF14, #1E90FF);
}
.product-image{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-name{
  font-weight: 600;
}
.product-price{
  font-weight: 400;
  font-size: 1.4rem;
  
}
table{
  border-collapse: collapse;
}
td,th{
  border: 1px #e9e9e9 solid;
}
td>img{
  width: 80px;
}